<!DOCTYPE html>
<html lang="en">
  <head>
        
    <meta charset="UTF-8" />
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    <title>Sign Up</title>
    <link
      rel="icon"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSghhKRfrn9bktZIOmlgafZIz-vHCbs8PO0gaFyr02HUlsWcI9l4kZEyZwjaUIu_wHJp2s&usqp=CAU"
    />    
    
    <style>
      body {
        background-color: antiquewhite;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
      }

      .loginbox {
        width: 300px;
        height: 400px;
        background: #1c2833;
        color:aliceblue;
        margin: 45px auto;
        border-radius: 35px;
      }

      h1 {
        text-align: center;
        margin-top: -60px;
        padding-top: 10px;
      }

      label {
        font-size: 15px;
        display: block;
        margin-left: 20px;
      }

      input {
        width: 80%;
        margin: 0 0 20px 20px;
      }

      input[type="text"],
      input[type="password"] {
        border: none;
        background: transparent;
        border-bottom: 1px solid #fff;
        height: 40px;
        outline: none;
        color: white;
        font-size: 16px;
      }

      input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        border-radius: 20px;
        background: darkslateblue;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background: blueviolet;
      }
       
    </style>

      
  </head>

  <body>
        <%= messages.error %> 
    <div class="loginbox">
      <h1>Register</h1>
      <form action="/register" method="post">
         <label>Username</label>           
          <input
          placeholder="Enter Your Username"
          type="String"
          name="username"
        />
         <label>Email</label>      
          <input
          placeholder="Enter Your Email"
          type="String"
          name="email"
        />
         <label>Password</label>             
        <input
          placeholder="Enter Your Password"
          type="String"
          name="password"
        />

       <input type="submit" value="Sign Up" />            
      </form>
    </div>
  </body>
</html>
